/* yeah i'm sorry you had to see this */
html {
    font-variant-ligatures: none
}

h1 {
    margin: 0
}

.flex {
    display: flex;
    gap: 8px;
}

.col {
    flex-direction: column
}

.grow {
    flex-grow: 1
}

#links>a {
    padding-left: 5px
}

#chooser {
    /*min-width: 200px;
    max-width: 200px;*/
    width: 200px;
}

@media (max-width:700px) {
    #content-pane {
        flex-direction: column;
    }

    #chooser {
        width: 100%;
        font-size: 1.6em;
    }
}

#info:empty {
    display: none
}

.border {
    border: 1px solid black;
}

#dirs {
    border-bottom: 1px dashed black;
}

.option:nth-child(2n+1) {
    background-color: #11111111;
}

.option:nth-child(2n) {
    background-color: #33333333;
}

.option:hover:not(.root) {
    background-color: lightskyblue;
    cursor: pointer;
}

.option.chosen {
    text-align: center;
    background-color: paleturquoise;
    text-decoration-line: underline;
}

.option.chosen:hover {
    cursor: default;
}

#open-dir {
    border-bottom: 1px solid black;
    display: flex;
}

.fa,
.fas {
    margin-top: auto;
    margin-bottom: auto;
}

.fa-level-up-alt {
    padding: 0 2px;
}

.root>.fa-level-up-alt {
    display: none;
}

.fa-fw {
    width: 1.5em !important;
}